
<!-- Static assets -->
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Django Authentication Example">
  <meta name="author" content="Nikhil John">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png' %}">
  <link rel="icon" type="image/png"          href="{% static 'assets/img/favicon.png'    %}">

  <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/dashboard/">
  <title>
    Django Auth - {% block title %}Dashboard{% endblock %}
  </title>

  {% include 'common/styles.html' %}
  <!-- Specific Page CSS goes HERE  -->
  {% block stylesheets %}{% endblock stylesheets %}

</head>

<body>
  <div id="messageboard">
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert" onloadend="dismissAlert(this)">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>    
    {% endfor %}
  {% endif %}
  </div>

  {% include 'common/navigation.html' %}

  <div class="container-fluid">
    <div class="row">
      {% include 'common/sidebar.html' %}

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">{% block page_title %}Dashboard{% endblock %}</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
          	{% block page_tools %}
	            <div class="btn-group mr-2">
	              <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
	              <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
	            </div>
	            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
	              <span data-feather="calendar"></span>
	              This week
	            </button>
          	{% endblock %}
          </div>
        </div>

        {% include 'common/sidebar.html' %}

        {% block content %}{% endblock %}
    
      </main>
    </div>
  </div>

  {% include 'common/scripts.html' %}

  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}{% endblock javascripts %}

</body>

</html>