<h1>Welcome</h1>

{% if user.is_authenticated %}
	Hello {{ user.username }}
	<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
	<a href="{% url 'profile' %}">Profile</a>
	<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
	<a href="{% url 'logout' %}">Logout</a>
	{% if users %}<div>
		<h2>User List</h2>
		{% for usr in users %}
		<p><strong>{{ usr.username }}</strong></p>
		{% endfor %}
	</div>{% endif %}
{% else %}
	<a href="{% url 'signup' %}">Sign Up</a>
	<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
	<a href="{% url 'login' %}">Login</a>
{% endif %}
