<h2>Profile</h2>
<p>
  <strong>Username: </strong>
  <span>{{ user.username }}</span>
</p>
<p>
  <strong>First Name: </strong>
  <span>{{ user.first_name }}</span>
</p>
<p>
  <strong>Last Name: </strong>
  <span>{{ user.last_name }}</span>
</p>
<p>
  <strong>Email: </strong>
  <span>{{ user.email }}</span>
</p>
<p>
  <strong>Admin: </strong>
  <span>{{ user.is_staff }}</span>
</p>
<p>
  <strong>Joined on: </strong>
  <span>{{ user.date_joined }}</span>
</p>
<p>
  <strong>Last login: </strong>
  <span>{{ user.last_login }}</span>
</p>

<p><a href="{% url 'home' %}">Back</a></p>
