{% extends './base.html' %}
{% block content %}
<div class="jumbotron text-dark">
  <h1 class="display-5">Users</h1>
  {% if users %}
  <div class="table-responsive mt-5">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
          <th scope="col">Status/Action</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>@{{ user.username }}</td>
          <td>
            {% if not user.is_active %}
              <a class="btn btn-success btn-sm" href="{% url 'auth:enable' username=user.username %}" role="button">Reactive</a>
            {% else %}
              Active
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <p class="text-muted">No inactive users found</p>
  {% endif %}
</div>
{% endblock %}
