{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block head_title %}Django Auth{% endblock %}</title>
  {% bootstrap_css %}
  {% block custom_styles %}{% endblock %}

  {% if user.is_authenticated %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  {% endif %}
</head>

<body>

  {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

  {% if user.is_authenticated %}

    {% include "navbar.html" %}

    <div class="container-fluid">
      <div class="row">

        {% include "sidebar.html" %}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">{% block page_title %}Dashboard{% endblock %}</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              {% block page_toolbar %}
              <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
              {% endblock %}
            </div>
          </div>
          {% block dashboard %}

              {% if user.is_staff %}
              <h2>Users</h2>
              <div class="table-responsive">
                <table class="table table-striped table-sm">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Username</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Eamil</th>
                      <th>Staff</th>
                      <th>Last Login</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for u in users %}
                    <tr>
                      <td>{{ u.id }}</td>
                      <td>{{ u.username }}</td>
                      <td>{{ u.first_name }}</td>
                      <td>{{ u.last_name }}</td>
                      <td>{{ u.email }}</td>
                      <td>{% if u.is_staff %}<span data-feather="check"></span>{% endif %}</td>
                      <td>{{ u.last_login }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            {% else %}
            <h2>Nothing new here!</h2>
            {% endif %}
          {% endblock %}
        </main>
      </div>
    </div>

  {% else %}
    {% block content %}

    {% endblock %}
  {% endif %}

  {% bootstrap_javascript jquery='slim' %}
  {% block custom_scripts %}{% endblock %}

  {% if user.is_authenticated %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" integrity="sha512-7x3zila4t2qNycrtZ31HO0NnJr8kg2VI67YLoRSyi9hGhRN66FHYWr7Axa9Y1J9tGYHVBPqIjSE1ogHrJTz51g==" crossorigin="anonymous"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
  {% endif %}
</body>

</html>
