  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="{% url 'profile' %}">Django Auth</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <span class="text-white">Welcome,</span>
          <a class="text-white mr-4" href="{% url 'profile' %}">{{ user.username }}</a>
          <a class="btn btn-outline-secondary" href="{% url 'logout' %}">Logout</a>
        </li>
    </ul>
  </nav>
