{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<h1>Welcome</h1>

{% if user.is_authenticated %}
	Hello {{ user.username }}
	<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
	<a href="{% url 'dash:profile' %}">Profile</a>
	<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
	<a href="{% url 'auth:logout' %}">Logout</a>
	{% if users %}<div>
		<h2>User List</h2>
		{% for usr in users %}
		<p><strong>{{ usr.username }}</strong></p>
		{% endfor %}
	</div>{% endif %}
{% else %}
	<a href="{% url 'auth:signup' %}">Sign Up</a>
	<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
	<a href="{% url 'auth:login' %}">Login</a>
{% endif %}


{% endblock content %}

{% block javascripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="/static/assets/demo/chart-area-demo.js"></script>
    <script src="/static/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="/static/assets/demo/datatables-demo.js"></script>

{% endblock javascripts %}
