{% extends "./layouts/base.html" %}

{% block title %} Edit Profile {% endblock %}

{% block page_tools %}
  <a role="button" class="btn btn-sm btn-outline-secondary" href="{% url 'dash:profile' %}">Back</a>
{% endblock %}

{% block content %}
<form class="form-signup form-group" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% for field in form %}
    {{ field }}
    {% if field.help_text %}
      <small style="color: grey">{{ field.help_text }}</small>
    {% endif %}
    {% for error in field.errors %}
      <p style="color: red">{{ error }}</p>
    {% endfor %}
  {% endfor %}
  <button class="btn btn-lg btn-primary btn-block mt-3 mb-5" type="submit">Save</button>
</form>
{% endblock %}
