{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  {% include 'common/head.html' %}
  <link rel="canonical" href="http://localhost:8000/dashboard/">
  <title>Django Auth - {% block title %}Dashboard{% endblock %}</title>

  {% include 'common/styles.html' %}
  {% block stylesheets %}{% endblock %}
  <link href="{% static 'assets/css/dashboard.css' %}" rel="stylesheet" />
  {% block stylesheets_extra %}{% endblock %}

</head>

<body>


  {% include 'dashboard/common/navigation.html' %}

  <div class="container-fluid">
    <div class="row">
      {% include 'dashboard/common/sidebar.html' %}

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

        {% include 'common/messages.html' %}

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">{% block page_title %}Dashboard{% endblock %}</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            {% block page_tools %}
            <div class="btn-group mr-2">
              <a role="button" class="btn btn-sm btn-outline-secondary" href="{% url 'core:home' %}">Home</a>
            </div>
            {% endblock %}
          </div>
        </div>

        {% block content %}{% endblock %}

      </main>
    </div>
  </div>

  {% include 'common/scripts.html' %}
  {% block javascripts %}{% endblock %}
  <script src="{% static 'assets/js/dashboard.js' %}"></script>
  {% block javascripts_extra %}{% endblock %}

</body>

</html>
